@font-face {
  font-family: "iconfont"; /* Project id 4180364 */
  src: url('iconfont.woff2?t=1690171080860') format('woff2'),
       url('iconfont.woff?t=1690171080860') format('woff'),
       url('iconfont.ttf?t=1690171080860') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rizhi:before {
  content: "\e741";
}

.icon-xiangmulixiang:before {
  content: "\e742";
}

.icon-yanshouxiangmupingshen:before {
  content: "\e743";
}

.icon-danweichengyuanguanli:before {
  content: "\e744";
}

.icon-tongzhi:before {
  content: "\e745";
}

.icon-xiangmushouli:before {
  content: "\e746";
}

.icon-xiangmupingshen:before {
  content: "\e747";
}

.icon-xiangmuyanshou:before {
  content: "\e748";
}

.icon-xiangmuguidang:before {
  content: "\e749";
}

.icon-xiangmushenbao:before {
  content: "\e74a";
}

.icon-shenbaoxiangmupingshen:before {
  content: "\e74b";
}

.icon-yuanquancuowu:before {
  content: "\e74c";
}

.icon-yuanquangouxuan:before {
  content: "\e74d";
}

.icon-yuanquanjingshi:before {
  content: "\e74e";
}

.icon-gongzuotai:before {
  content: "\e74f";
}

.icon-shujufenxi:before {
  content: "\e750";
}

.icon-caigoujilu:before {
  content: "\e751";
}

.icon-xitong:before {
  content: "\e752";
}

.icon-caidanguanli:before {
  content: "\e753";
}

.icon-menhuguanli:before {
  content: "\e754";
}

.icon-gongzuoliu:before {
  content: "\e755";
}

.icon-gongxiangshebei:before {
  content: "\e76b";
}

.icon-shebeiguanli:before {
  content: "\e76c";
}

